@charset "UTF-8";

.reveal h1 {
  font-size: 2em;
}

.reveal .playback {
  position: fixed;
  left: inherit;
  right: 15px;
  top: 15px;
  display: none;
}

img.logo {
  height: 96px;
  margin: 8px;
  position: fixed;
}

img.logo.top {
  top: 0px;
}

img.logo.bottom {
  bottom: 0px;
}

img.logo.right {
  right: 0px;
}

img.logo.left {
  left: 0px;
}

