@charset "UTF-8";

img.logo {
  height: 96px;
  margin: 8px;
  position: fixed;
}

img.logo.top {
  top: 0px;
}

img.logo.bottom {
  bottom: 0px;
}

img.logo.right {
  right: 0px;
}

img.logo.left {
  left: 0px;
}

